mulesoaprest/clients/clientforwsdlfirst/src/main/app/clientforwsdlfirstapproach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">


	<http:request-config name="HTTP_Request_Configuration"
		host="localhost" port="61081" basePath="hello" doc:name="HTTP Request Configuration" />
	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8081" basePath="client" doc:name="HTTP Listener Configuration" />
	<ws:consumer-config name="Web_Service_Consumer"
		wsdlLocation="http://localhost:61081/hello?wsdl" service="CodeFirstServiceService"
		port="CodeFirstServicePort" serviceAddress="http://localhost:61081/hello"
		doc:name="Web Service Consumer" />
	<mulexml:namespace-manager
		includeConfigNamespaces="true">
		<mulexml:namespace prefix="ns2"
			uri="http://baeldung.com/" />
	</mulexml:namespace-manager>



	<mulexml:jaxb-context name="JAXB_Context"
		packageNames="com.baeldung" doc:name="JAXB Context" />
	<flow name="soapconsumingwsdlfirstFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/" doc:name="HTTP" />
        <response>
            <logger message="Response payload: #[payload]" level="INFO" doc:name="Logger"/>
        </response>
        <set-payload value="#[new Object[]{'Abir' , 10}]" doc:name="Set Payload"/>
<!--         <response> -->
<!--             <set-payload value="#[xpath3(&quot;/ns2:showPersonDetailResponse/return&quot;, payload)]" doc:name="Set Payload"/> -->
<!--         </response> -->
<!-- 		<set-payload -->
<!-- 			value="#[st=new com.baeldung.ShowPersonDetail();st.arg0= 'Abir'; st.arg1=10; st]" -->
<!-- 			doc:name="Set Payload" /> -->
<!-- 		<mulexml:jaxb-object-to-xml-transformer -->
<!-- 			jaxbContext-ref="JAXB_Context" doc:name="JAXB Object to XML" /> -->
		<logger message="payload: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger" />
<!-- 		<ws:consumer config-ref="Web_Service_Consumer" operation="showPersonDetail" -->
<!-- 			doc:name="Web Service Consumer" /> -->

		<cxf:jaxws-client doc:name="ServiceClient" 
		soapVersion="1.2" clientClass="com.baeldung.CodeFirstServiceService" 
			wsdlLocation="http://localhost:61081/hello?wsdl" operation="showPersonDetail" 
			port="CodeFirstServicePort"   /> 

		<http:request config-ref="HTTP_Request_Configuration"
		path="/" method="POST" doc:name="HTTP" />

	</flow>
	
</mule>